body{
  text-align: center;
  color: black;
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
}

.logoBox{
  height: 300px;
}

.logoBox2{
  height: 390px;
  background-image: url(../images/BG_2.png);
  background-size: cover;
  background-repeat: no-repeat;
  mix-blend-mode: soft-light;
}

.logo_helper{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#logo{
  width: 600px;
  display: inline;
  margin-right: auto;
  margin-left: auto;
  vertical-align: middle;
}

.helper{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.description_box{
  height: 150px;
  margin-bottom: 80px;
}

.description{
  color: #777777;
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: -0.75px;
  vertical-align: middle;
  display: inline-block;
}

.firstLine1{
  display: block;
  float: left;
}

.firstLine2{
  display: flex;
  align-items: center;
}

.box1{
  color: white;
  height: 30px;
  font-weight: bold;
  background-color: #0090ff;
  display: flex;
  align-items: center;
}

.secondLine{
  display: flex;
  align-items: center;
  justify-content: center;
}

.box2{
  color: white;
  height: 30px;
  font-weight: bold;
  background-color: #0090ff;
  display: flex;
  align-items: center;
}

.breakMobile{
  display: none;
}

.infoForm{
  width: 100%;
  height: 460px;
  text-align: center;
  vertical-align: middle;
  padding-top: 100px;
  font-size: 45px;
  font-weight: bold;
  line-height: 1.56;
  letter-spacing: -1.13px;
  color: #ffffff;
}

.background{
  background-image: url(../images/BG_1.png);
  background-size: cover;
  background-repeat: no-repeat;
  mix-blend-mode: soft-light;
}

#background2{
  background-image: url(../images/BG_2.png);
  background-size: cover;
  background-repeat: no-repeat;
  mix-blend-mode: soft-light;
}

.form_select{
  width: 120px;
  background-color: transparent;
  position: relative;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  border: 0px;
  border-bottom: 3px solid #ffffff;
}

.form_select option {
  color: #777777;
  font-family: 'Noto Sans KR', sans-serif;
}

.form{
  margin-bottom: 0;
}

#btn{
  width: 206px;
  height: 67px;
  color: #0090ff;
  border-radius: 33.5px;
  box-shadow: 0 0 8.7px 1.3px rgba(0, 120, 255, 0.5);
  background-color: #ffffff;
  font-size: 45px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -1.13px;
  font-family: 'Noto Sans KR', sans-serif;
  margin-top: 80px;
  margin-bottom: 80px;
}

#btn:hover {
  filter: brightness(80%);
}

.time_list{
  color: #0090ff;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: -0.75px;
  text-align: center;
}

.time_list h2{
  font-size: 45px;
}

.time_list h2 p{
  margin-bottom: 20px;
}

.time_list h3{
  font-size: 30px;
  color: #ffffff;
  background-color: #0090ff;
  height: 32px;
  display: flex;
  align-items: center;
  width: 116px;
  margin: 0 auto 30px auto;
}

.container{
  text-align: center;
}

.section1{
  display: inline-block;
  vertical-align: top;
  border-right: 2px solid #0090ff;
  width: 360px;
}

.section2{
  display: inline-block;
  width: 360px;
}

.textInContainer{
  margin-top: 10px;
}

.noteContainer{
  margin: 50px 0 150px 0;
}

#note{
  display: inline-block;
  text-decoration: underline;
}

#notice{
  width: 864px;
  border: solid 1px #0090ff;
  margin: 70px auto 50px auto;
  text-align: left;
  padding: 20px;
  font-size: 20px;
  line-height: 1.75;
  letter-spacing: -0.5px;
}

#notice p{
  margin: 0;
}

.city-action-btn{
  height: 48px;
  border-radius: 23.2px;
  box-shadow:  0 0 22.5px 2.5px rgba(0, 120, 255, 0.5);
  background-color:#ffffff;
  color: #0090ff;
  font-size: 35.5px;
  font-weight: bold;
  line-height: 48px;
  letter-spacing: -0.89px;
  text-align: center;
  margin: 20px;
}

@media only screen and (max-width: 768px) {

.logoBox {
  width: 100%;
  height: 230px;
}

.logoBox2{
  background-image: url(../images/BG_m.png);
  height: 300px;
}

#logo{
  width: 95%;
}

.description_box {
  width: 100%;
  height: 200px;
  margin-bottom: 60px;
}

.description{
  font-size: 35px;
}

.infoForm {
  height: 430px;
  padding-top: 80px;
}

.form_select{
  width: 120px;
}

.firstLine1{
  float: none;
}

.breakMobile{
  display: inline-block;
}

#btn{
  width: 180px;
  height: 58px;
  font-size: 35px;
  margin-top: 50px;
  line-height: 1;
  letter-spacing: -0.5px;
}

.section1{
  border: none;
  display: inline;
  padding: 0;
}

.section2{
  display: inline;
  padding: 0;
}

.section2 h3{
  margin-top: 50px;
}

.noteContainer{
  margin: 40px 0 50px 0;
  font-size: 20px;
}

#notice{
  width: 80%;
  border: solid 1px #0090ff;
  margin: 50px auto 50px auto;
  text-align: left;
  padding: 20px;
}

}
