#logo{
  width: 30%;
  display:inline;
  margin: 0 auto;
}

.logoBox{
  margin: 0 auto;
  text-align: center;
}

body{
  text-align: center;
  background-image: url(../images/8.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
}

#description{
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
  /*background-color: rgba(1, 106, 215, 0.6);*/
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
}

.text{
  display: inline;
  /*background-color: rgba(1, 106, 215, 0.6);*/
  font-weight: 700;

}

#city_form{
  size: 50px;
  width: 50px;
  margin-top: 10px;
}

#first{
  margin-top: 20px;
  margin-bottom: 20px;
}

#btn{
  border:none;
  color: white;
  background-color: rgb(255, 255, 255, 0.3);
  padding: 15px 32px;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  border: 2px solid;
  border-radius: 25px;
  font-weight: bold;
  margin-top: 50px;
}

#btn:hover {
  filter: brightness(80%);
}

.pool_list{
  display: inline-block;
  color: white;
  margin-top: 30px;
  font-weight: 700;
}

.note_contents{
  visibility:hidden;
}
