body{
  text-align: center;
  color: black;
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
}

#logo{
  width: 531px;
  display:inline;
  margin-top: 50px;
  vertical-align: bottom;
}

#wave{
  width: 541px;
}

.logoBox{
  width: 100%;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}


.description{
  width: 100%;
  height: 130px;
  color: #777777;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.75px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  padding: 80px 0 20px 0;
}

.description .box{
  color: white;
  height: 30px;
  background-color: #0090ff;
}

.infoForm{
  width: 100%;
  height: 395px;
  text-align: center;
  vertical-align: middle;
}

.city_list{
  width: 100%;
  height: 310px;
}

.pool_in_city{
  width: 100%;
  height: 230px;
}

.background{
  background-image: url(../images/BG_1.png);
  background-size: cover;
  background-position: 0 10px 0 0;
  background-repeat: no-repeat;
}

.text{
  display: inline;
  /*background-color: rgba(1, 106, 215, 0.6);*/
  font-weight: 700;

}

.infoForm{
  padding-top: 100px;
  font-size: 45px;
  font-weight: bold;
  line-height: 1.56;
  letter-spacing: -1.13px;
  color: #ffffff;
}

.form_select{
  width: 120px;
  background-color: transparent;
  position: relative;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border: 0px;
  border-bottom: 3px solid #ffffff;
}

.form_select option {
  color: #777777;
  font-family: 'Noto Sans KR', sans-serif;
}

#btn{
  width: 206px;
  height: 67px;
  color: #0090ff;
  border-radius: 33.5px;
  box-shadow: 0 0 8.7px 1.3px rgba(0, 120, 255, 0.5);
  background-color: #ffffff;
  font-size: 45px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -1.13px;
  font-family: 'Noto Sans KR', sans-serif;
  margin-top: 80px;
}

#btn:hover {
  filter: brightness(80%);
}

.pool_list{
  display: inline-block;
  color: white;
  margin-top: 30px;
  font-weight: 700;
}

.time_list{
  border-bottom: 50px;
}

#note{
  text-decoration: underline;
}

#note_contents{
  width: 80%;
  border: solid 1px #0090ff;
  margin-left: 80px;
  margin-right: 80px;
  margin: auto;
  text-align: left;
  padding: 1% 2%;
}

.city-action-btn{
  width: 86px;
  height: 48px;
  border-radius: 23.2px;
  box-shadow: 0 0 22.5px 2.5px rgba(0, 120, 255, 0.5);
  background-color: #a6d3ff;
}

/* @media (min-width: 768px) {

.logoBox {
  height: 150px;
  width: 100%;
}

.description {
  height: 350px;
  width: 100%;
}

.infoForm {
  height: 350px;
  width: 100%;
}

.city_list {
  height: 175px;
  width: 100%;
}

.pool_in_city {
  height: 175px;
  width: 100%;
}
} */
/*
@media (min-width: 992px) {

.logoBox {
  height: 200px;
  width: 100%;
}

.description {
  height: 230px;
  width: 100%;
}

.infoForm {
  height: 495px;
  width: 100%;
}

.city_list {
  height: 410px;
  width: 100%;
}

.pool_in_city {
  height: 330px;
  width: 100%;
}
} */
