#logo{
  width: 531px;
  display:inline;
  margin: 4.9% 22.9% 1% 25.2%;
}

.logoBox{
  margin: 0 auto;
  text-align: center;
}

body{
  text-align: center;
  background-color: white;
  /* background-image: url(../images/8.jpg);
  background-size: cover;
  background-position: center; */
  color: black;
  font-family: 'Noto Sans KR', sans-serif;
}

#description{
  color: #777777;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.75px;
  text-align: center;
  display: inline-block;
}

.box{
  color: white;
  width: 103px;
  height: 30px;
  background-color: #0090ff;
  display: inline-block;
}

.text{
  display: inline;
  /*background-color: rgba(1, 106, 215, 0.6);*/
  font-weight: 700;

}

#city_form{
  size: 50px;
  width: 50px;
  margin-top: 10px;
}

#first{
  margin-top: 20px;
  margin-bottom: 20px;
}

#btn{
  width: 206px;
  height: 67px;
  border-radius: 33.5px;
  box-shadow: 0 0 8.7px 1.3px rgba(0, 120, 255, 0.5);
  background-color: #ffffff;
  font-family: TTNamoogulrimB;
  font-size: 45px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -1.13px;
  text-align: left;
  color: #0090ff;
}

#btn:hover {
  filter: brightness(80%);
}

.pool_list{
  display: inline-block;
  color: white;
  margin-top: 30px;
  font-weight: 700;
}

.time_list{
  border-bottom: 50px;
}

#note{
  text-decoration: underline;
}

#note_contents{
  width: 80%;
  border: solid 1px #0090ff;
  margin-left: 80px;
  margin-right: 80px;
  margin: auto;
  text-align: left;
  padding: 1% 2%;
}

.form_select{
  width: 100px;
  padding: 16px 20px;
  border: 5px;
  background-color: none;
  position: relative;
}
