{% extends 'swimapp/base.html' %}
{% block content %}
  <div class="logoBox">
    <a href=""> <img src="../../static/swimapp/images/logo_gif_2.gif" id="logo"></a> <br>
  </div>
    <div class="description_box">
      <div class="helper"></div>
      <div class="description">
        <div class="firstLine">
          지금 당장&nbsp;<br class="brForMobile"><span class="box1">자유수영</span>을 할 수 있는 <br>
        </div>
        <div class="secondLine">
          <span class="box2">수영장</span>이 알고 싶다면?
        </div>
      </div>
    </div>
    <div class="background">
      <div class="infoForm">
        <form method="POST" class="form">{% csrf_token %}
          <div class="formLine">
              <div id="citi_form"> {{ form.cities }} <span class="text">에 있는 </span> </div>
              <div id="time_form"> {{ form.times }} <span class="text">내의 수영장으로 </span></div>
          </div>
            <button id="btn" type="submit" value="Save">찾아보자!</button>
        </form>
      </div>
      <div class="city_list">
        <img src="../../static/swimapp/images/wave_white.png" id="wave_white">
        {% for city in city_list %}
          <button class="city-action-btn" type="button"><div class="button_text">{{ city.city_name }}</div></button>
        {% endfor %}
      </div>
      <div class="pool_in_city">
      </div>
    </div>

    <script>
      function showPoolList(cityCity_name){
        document.getElementById
      }
      // document.getElementById("pool_in_city").style.display = "none";
      // function showRef() {
      //   var x = document.getElementById("note_contents");
      //   var a = {{ pool.pool_name }}
      //   if (x.style.display === "none") {
      //     note.innerHTML = "접기";
      //     x.style.display = "block";
      //   } else {
      //     note.innerHTML = "자세히";
      //     x.style.display = "none";
      //   }
      // }
    </script>
{% endblock %}
