{% extends 'swimapp/base.html' %}
{% block content %}
  <div class="logoBox2">
    <div class="logo_helper"></div>
    <a href=""> <img src="../../static/swimapp/images/logo_gif_white.gif" id="logo"></a> <br>
  </div>
  <div class="time_list">
    {% if time_list %}
      {% for timeA in time_list %}
        {% ifchanged timeA.pool %}
          <h2> {{ timeA.pool|linebreaks }} </h2>
          <div class="container">
            <div class="section1">
              <h3>이용시간</h3>
                {% for timeB in time_list %}
                  {% if timeA.pool|stringformat:"s" == timeB.pool|stringformat:"s" %}
                  {% ifchanged timeB.day %}
                    {{ timeB.get_day_display|linebreaks }}
                  {% endifchanged %}
                    <div class="textInContainer">
                      {{ timeB.start_time|time:"H:i" }} ~
                      {{ timeB.end_time|time:"H:i" }}
                    </div>
                  {% endif %}
                {% endfor %}
            </div>
            <div class="section2">
              <h3>이용가격</h3>
                <div class="textInContainer">
                  {% for pool in pool_list %}
                    {% if timeA.pool|stringformat:"s" == pool.pool_name|stringformat:"s" %}
                      {{ pool.price|linebreaks }}
                    {% endif %}
                  {% endfor %}
                </div>
            </div>
          </div>
          <div class="noteContainer">
            <div class="note"> 자세히 </div>
              <div class="note_contents">
                {% for pool in pool_list %}
                  {% if timeA.pool|stringformat:"s" == pool.pool_name|stringformat:"s" %}
                    <div class="info"> {{ pool.info|linebreaks }} </div>
                    <div class="homepage"> {{ pool.homepage|urlize }} </div>
                    <button onclick="parent.open('{{ pool.homepage }}')" type="button" class="homepageBtn">홈페이지</button>
                    {% if pool.note %}
                      <div class="notice">
                        {{ pool.note|linebreaks }}
                      </div>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </div>
          </div>
      {% endifchanged %}
      {% endfor %}
    {% else %}
      <div class="no_pool">
        <div class="middle_helper"></div>
        <div class="no_pool_textBox">
          찾으시는 시간에 <br>수영장 정보가 <u>없습니다!</u>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
